<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
    <link rel="icon" href="images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Home Page</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/prettyPhoto.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/hoverIntent.js"></script>
    <script type="text/javascript" src="js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/ajax-mail.js"></script>
    <script type="text/javascript" src="js/accordion.settings.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="css/ie.css" type="text/css" rel="stylesheet"/>
    <![endif]-->
</head>

<body>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <a href="./index.html"><img src="../img/logo2.png" alt="Logo"/></a>
            </div>
            <div class="span9">
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="./index.html" class="current">
                                <span class="name">Home Page</span>
                                <span class="desc">welcome page</span>
                            </a>
                        </li>
                        <li>
                            <a href="./about.html">
                                <span class="name">Features</span>
                                <span class="desc">features & services</span>
                            </a>
                            <ul>
                                <li><a href="./about.html">About Us</a></li>
                                <li class="last"><a href="./services.html" >Our Services</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./portfolio2.html">
                                <span class="name">Portfolio</span>
                                <span class="desc">our works</span>
                            </a>
                            <ul>
                                <li><a href="./portfolio2.html">Portfolio 2 col</a>
                                    <ul>
                                        <li><a href="./portfolio2.html">Portfolio 2 Columns</a></li>
                                        <li class="last"><a href="./portfolio2ex.html">Portfolio 2 Columns Extended</a></li>
                                    </ul>
                                </li>
                                <li><a href="./portfolio3.html">Portfolio 3 col</a>
                                    <ul>
                                        <li><a href="./portfolio3.html">Portfolio 3 Columns</a></li>
                                        <li class="last"><a href="./portfolio3ex.html">Portfolio 3 Columns Extended</a></li>
                                    </ul>
                                </li>
                                <li class="last"><a href="./portfolio4.html">Portfolio 4 col</a>
                                    <ul>
                                        <li><a href="./portfolio4.html">Portfolio 4 Columns</a></li>
                                        <li class="last"><a href="./portfolio4ex.html">Portfolio 4 Columns Extended</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./blog.html">
                                <span class="name">Blogs</span>
                                <span class="desc">latest news</span>
                            </a>
                            <ul>
                                <li><a href="./blog.html">Blog</a></li>
                                <li class="last"><a href="./blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./contact.html" >
                                <span class="name">Get in Touch</span>
                                <span class="desc">contact us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div id="mainslider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="example/slider1.jpg" alt="photo" />
                        </li>
                        <li>
                            <img src="example/slider2.jpg" alt="photo" />
                        </li>
                        <li>
                            <img src="example/slider3.jpg" alt="photo" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div class="slidertext">
                    <h2 class="title">Awesome Ideas</h2>
                    <div class="clearfix text visible-phone">
                        <p>
                            Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit, sed diam non um my nibh euis mod tincidunt ut laoreet dolore magna aliquam erat vol utpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullanisl ut ali quip ex ea commodo consequat. Dignissim qui blandit pra esent lupta tum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                        <p>
                            Mauris nec mi ligula, ac eleifend ligula. Donec euismod ante eu lorem venenatis placerat vulputate sapien pellentesque. Etiam viverra volutpat sem laoreet fringilla.
                        </p>
                    </div>
                    <div class="clearfix text visible-tablet">
                        <p>
                            Mauris nec mi ligula, ac eleifend ligula. Donec euismod ante eu lorem venenatis placerat vulputate sapien pellentesque!
                        </p>
                    </div>
                    <div class="clearfix text visible-desktop">
                        <p>
                            Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit, sed diam non um my nibh euis mod tincidunt ut laoreet dolore magna aliquam erat vol utpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullanisl ut ali quip ex ea commodo consequat. Dignissim qui blandit pra esent lupta tum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                    <a href="./portfolio2.html" class="btn btn-inverse btn-large">View Our Features</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">




</section>
<section id="container">
    <div class="container">
        <section class="headset">
            <div class="row">
                <div class="span4 clearfix">
                    <img src="images/icon1.png" class="icon" alt="">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="span4 clearfix">
                    <img src="images/icon2.png" class="icon" alt="">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="span4 clearfix">
                    <img src="images/icon3.png" class="icon" alt="">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <div class="row">
                <div class="span8">
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam.
                    </p>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">Tab 1</a></li>
                        <li class=""><a data-toggle="tab" href="#tab2">Tab 2</a></li>
                        <li class=""><a data-toggle="tab" href="#tab3">Tab 3</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas. Pellentesque interdum, mi ut dignissim adipiscing, orci enim tempor purus, aliquam tincidunt leo mauris id eros. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam.
                            </p>
                            <p>
                                Vivamus ac tortor vitae augue rhoncus fermentum. Nam orci eros, pulvinar a tincidunt quis, porttitor sit amet urna. Vivamus vitae risus nisl. Morbi quis urna nec dolor vestibulum consequat vitae sit amet mi. Aenean eleifend lacus nisi. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam.
                            </p>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <p>
                                Vivamus ac tortor vitae augue rhoncus fermentum. Nam orci eros, pulvinar a tincidunt quis, porttitor sit amet urna. Vivamus vitae risus nisl. Morbi quis urna nec dolor vestibulum consequat vitae sit amet mi. Aenean eleifend lacus nisi. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas. Pellentesque interdum, mi ut dignissim adipiscing, orci enim tempor purus, aliquam tincidunt leo mauris id eros. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam.
                            </p>
                        </div>
                        <div id="tab3" class="tab-pane">
                            <p>
                                Aliquam viverra varius posuere. Sed consectetur rutrum egestas. Pellentesque interdum, mi ut dignissim adipiscing, orci enim tempor purus, aliquam tincidunt leo mauris id eros. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <p>
                                Vivamus ac tortor vitae augue rhoncus fermentum. Nam orci eros, pulvinar a tincidunt quis, porttitor sit amet urna. Vivamus vitae risus nisl. Morbi quis urna nec dolor vestibulum consequat vitae sit amet mi. Aenean eleifend lacus nisi. Suspendisse metus lorem, gravida nec condimentum eu, ultricies nec quam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipi scing elit, sed diam nonummy nibh</p>
                    <div id="latestwork-sidebar" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item"><img src="example/latest3.jpg" alt="photo"/></div>
                            <div class="item"><img src="example/latest4.jpg" alt="photo"/></div>
                            <div class="item"><img src="example/latest5.jpg" alt="photo"/></div>
                        </div>
                        <a class="carousel-control left" href="#latestwork-sidebar" data-slide="prev"></a>
                        <a class="carousel-control right" href="#latestwork-sidebar" data-slide="next"></a>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('.carousel').carousel({
                                interval: 5000
                            })
                        });
                    </script>
                </div>
            </div>
        </section>
    </div>
    <div class="dark-section">
        <div class="container">
            <div class="row topbtitle">
                <div class="span12">
                    <h2 class="title">Features</h2>
                    <p>Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit, sed diam non</p>
                </div>
            </div>
            <div class="row headset">
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b1.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b2.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b3.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
            </div>
            <div class="row headset">
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b4.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b5.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
                <div class="span4">
                    <img alt="" class="icon" src="images/icon-b6.png">
                    <h4 class="title">Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                        sed diam non um my nibh euis mod tincidunt ut laoreet dolore
                        magna aliquam erat.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row price-section">
            <div class="span12 topbtitle">
                <h3 class="title">Our Price List</h3>
                <p>Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit, sed diam non</p>
            </div>
            <div class="span4">
                <div class="price-block">
                    <p class="price-head clearfix">
                        <img src="images/icon-p1.png" class="price-icon" alt="">
                        <span class="price-name">Basic</span>
                        <span class="price-value"><sup>$</sup>30<sub>/mo</sub></span>
                    </p>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet cons ectetuer adipi scing elit,
                        sed diam nonu mmy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Ectetuer adipi scing elit</li>
                        <li>Sed diam nonu mmy nibh</li>
                        <li>My nibh euismod tincidunt ut</li>
                    </ul>
                    <a href="#" class="btn btn-block btn-large">Sign Up</a>
                </div>
            </div>
            <div class="span4">
                <div class="price-block backlit">
                    <p class="price-head clearfix">
                        <img src="images/icon-p2.png" class="price-icon" alt="">
                        <span class="price-name">Standart</span>
                        <span class="price-value"><sup>$</sup>30<sub>/mo</sub></span>
                    </p>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet cons ectetuer adipi scing elit,
                        sed diam nonu mmy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Ectetuer adipi scing elit</li>
                        <li>Sed diam nonu mmy nibh</li>
                        <li>My nibh euismod tincidunt ut</li>
                    </ul>
                    <a href="#" class="btn btn-block btn-large">Sign Up</a>
                </div>
            </div>
            <div class="span4">
                <div class="price-block">
                    <p class="price-head clearfix">
                        <img src="images/icon-p3.png" class="price-icon" alt="">
                        <span class="price-name">Premium</span>
                        <span class="price-value"><sup>$</sup>30<sub>/mo</sub></span>
                    </p>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet cons ectetuer adipi scing elit,
                        sed diam nonu mmy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Ectetuer adipi scing elit</li>
                        <li>Sed diam nonu mmy nibh</li>
                        <li>My nibh euismod tincidunt ut</li>
                    </ul>
                    <a href="#" class="btn btn-block btn-large">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row topbtitle">
            <div class="span12">
                <h3 class="title">Contact Us</h3>
                <p>Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit, sed diam non</p>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <h3>Contact Information</h3>
                <p>
                    Lorem ipsum dolor sit amet, conse ctetuer adip iscing elit,
                    sed diam non um my nibh euis mod tinc idunt ut lao reet dolore
                    magna aliquam erat vol tpat. wisi enim ad minim veniam, quis nostrud
                    exerci tation ullanisl ut ali quip ex ea comm odo conse quat.
                    Suspendisse dictum vulputate quam, nec mattis neque congue tempor.
                    Pellentesque ligula tellus, facilisis in facilisis in, consectetur non enim.
                    Nulla eleifend commodo nisi, ac interdum diam sollicitudin eget.
                </p>
                <ul class="bottom-social clearfix">
                    <li><a href="#" class="twitter2"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="rss"></a></li>
                    <li><a href="#" class="twitter3 last"></a></li>
                </ul>
                <form id="contact" class="form-horizontal" method="post">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="inputName" placeholder="Your Name" name="inputName">
                                    <label class="ferror" for="inputName" id="fname_error">Name is required.</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="Your Email" name="inputEmail">
                                    <label class="ferror" for="inputEmail" id="femail_error">Email is required.</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="inputUrl" placeholder="URL:" name="inputUrl">
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <div class="controls">
                                    <textarea rows="3" id="inputMessage" placeholder="Message" name="inputMessage"></textarea>
                                    <label class="ferror" for="inputMessage" id="fmessage_error">Message is required.</label>
                                </div>
                            </div>
                            <div class="submit-div">
                                <input type="submit" class="btn btn-inverse btn-large pull-right footer-button" value="Submit Form">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span4">
                <h3>Get In Touch</h3>
                <address>
                    Address:<br>
                    12th Street Name, New York, New York 12345<br>
                    <i class="myicon-phone"></i>Tel.: (123) 456-7890<br>
                    <i class="myicon-mail"></i><a href="mailto:contact@domainname.com">contact@domainname.com</a>
                </address>
                <div class="video">
                    <iframe width="" height="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=New+York,+United+States&amp;aq=1&amp;oq=new+yo&amp;sll=37.0625,-95.677068&amp;sspn=40.409448,86.572266&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=New+York&amp;ll=40.714353,-74.005973&amp;spn=1.216472,2.705383&amp;z=9&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>